<div class = "container">
    <div class="row">
                    <div class="card" style="width:12rem">
                            <div class="card-body">
                                <p><b>codigo:</b><%- Art.codigo %></p>
                                <p><b>nombre:</b><%- Art.nombre %></p>
                                <p><b>precio:</b><%- Art.precio %></p>
                                <p><b>categoria:</b><%- Art.categoria %></p>
                            </div>
                    </div>
    </div>
</div>
