<footer class="footer"> 
    <nav>
    <P><a HREF="#">Credits</a> —
        <a HREF="#">Terms of Service</a> —
        <a HREF="#">Blog Index</a></p>
    </nav>
    <P>Copyright © 2023 grpu 5</P>
</footer>
</body>
</html>