<div class = "container">
    <div class="row">
                <%  Art.map ((A) =>{ %>
                    <div class="card">
                            <div class="card-body">
                                <p><% A[].nombre  %></p>
                            ></div>
                    </div>
                    <% }) %>
    </div>
</div>