main{background: #FAFDFF;
background: -moz-linear-gradient(top, #FAFDFF 0%, #3E93CB 75%, #2D5675 100%);
background: -webkit-linear-gradient(top, #FAFDFF 0%, #3E93CB 75%, #2D5675 100%);
background: linear-gradient(to bottom, #FAFDFF 0%, #3E93CB 75%, #2D5675 100%);
height: 800px;
}

h1 {text-align: center;
padding-bottom: 15px;}

h5,h6,h3 {padding: 10px;
    text-align: center;}

h8 {font-size: smaller;}    

section{padding-top: 20px;}

ul.navbar-nav{justify-content: space-between !important;padding-right:10rem;margin-right: 10rem;}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(2, 2, 2);
  color: #0d6efd;
  text-align: center;
}
.volver{font-size: large;text-align: center;}
/*======================
    404 page
=======================*/

.page_404{ padding:40px 0; background:#fffefe; font-family: 'Arvo', serif;
}

.page_404  img{ width:70%;}

.four_zero_four_bg{

/* background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
} */

.four_zero_four_bg h1{
font-size:80px;
}

.four_zero_four_bg h3{
font-size:80px;
}
.link_404{			 
	color: #fff!important;
    padding: 100px 5px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-40px;}
}